.t{
    color:blue ;
}
.c{
    color: rgb(17, 84, 209);
}
.r{
    color: rgb(228, 190, 95);
}
.p{
    color: rgb(216, 107, 216);
}
h1{
    font-size: 65px;
    font-weight: bolder;
    padding-top: 100px;

}
p{
    font-size: 20px;
}
